<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- Basic Page Needs
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <meta charset="utf-8">
      <title>Food App Landing Page</title>
      <meta name="description" content="Homefood at your place without Cooking">
      <meta name="authors" content="Micaela Linda Villani - Stephanos Theodotou - Matilde Adan Ramirez">
      
      <!-- Mobile Specific Metas
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
         
     <!-- CSS
     –––––––––––––––––––––––––––––––––––––––––––––––––– -->
     <link rel="stylesheet" href="stylesheets/skeleton.css">
     <link rel="stylesheet" href="stylesheets/normalize.css">
     <link rel="stylesheet" href="stylesheets/main.css">

     <!-- FONTS
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link href="https://fonts.googleapis.com/css?family=Nunito:300|Work+Sans:900" rel="stylesheet">
          
    </head>
    <body>
        <!-- main body container -->
        <div class="container">
        <!-- navigation bar here -->
            <div class="row">
                <div class="one column">
                    <h1>Food App</h1>
                </div>
                <div class="eleven columns">
                    <button class="login-btn">  
                        <a href="login"> Login </a>
                    </button>                
                </div>
            </div>
        <!-- landing page first section here -->
            <div class="row">
                <div class="twelve column first-section">
                <p> Eat homemade dishes at your place without cooking.</p>
                <p> How? </p>
                <p> Choose our vendors. </p>
                </div>
            </div>
        <!-- cloud here  -->
            <div class="row">
                <div class="twelve column second-section">
                    <img class="cloud" src="images/cloud.png" alt="big white cloud">
                </div>
            </div>

        </div>
    </body>

</html>