<!DOCTYPE html>
<html>
  <head>
    <title>foodApp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>  foodApp Home Page </h1>
    <a href="login">Login</a>
    <a href="signup">Signup</a>

  </body>
</html>