<!DOCTYPE html>
<html>
  <head>
    <title>foodApp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <h1> Search Page</h1>
    <a href="index">Home</a>
  </body>
</html>